<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devst.app">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <!-- LOGIN (TIENE INTENT FILTER → necesita exported="true") -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CinesActivity" />
        <activity android:name=".ListaCinesActivity" />
        <activity android:name=".CinepolisActivity" />
        <activity android:name=".CinemarkActivity" />
        <activity android:name=".CinehoytsActivity" />
        <activity android:name=".NormandieActivity" />
        <activity android:name=".HomeActivity"/>
        <activity android:name=".AlimentosActivity"/>
        <activity android:name=".PerfilActivity"/>
        <activity android:name=".DetalleCineActivity"/>
        <activity android:name=".RegistroCineActivity"/>
        <activity android:name=".ReclamosActivity"/>



    </application>

</manifest>